@using Microsoft.AspNetCore.Identity

@model Models.Dtos.DoctorDto
@inject UserManager<User> UserManager
@{
    var user = UserManager.GetUserAsync(User).Result;
}



<div class="container" >
    <div class="row justify-content-center mt-4">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h3 class="mb-0 text-center">معلومات الطبيب</h3>
                </div>
                <div class="card-body">
                    <form asp-action="Register" method="post">
                        <div class="form-group mb-3 text-right">
                            <label asp-for="Bio" class="form-label">السيرة الذاتية</label>
                            <textarea asp-for="Bio" class="form-control" rows="4"
                                      placeholder="أدخل السيرة الذاتية هنا..."
                                      style="text-align: right;" dir="rtl"> </textarea>
                            <span asp-validation-for="Bio" class="text-danger"></span>
                        </div>

                        <div class="form-group mb-3 text-right">
                            <label asp-for="SpecialtyId" class="form-label">التخصص</label>

                            <select asp-for="SpecialtyId" class="form-control" asp-items="@(ViewBag.Specialties)" style="padding:0px" dir="rtl">
                                <option value="">-- اختر التخصص --</option>
                            </select>
                            <span asp-validation-for="SpecialtyId" class="text-danger"></span>
                        </div>
                        <input asp-for="UserId" type="hidden" value="@Model.UserId" />

                        <div class="text-center mt-4">
                            <button type="submit" class="btn btn-primary px-5">حفظ</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<style>

    .bg-primary{
        background-color: #48bdc5 !important;
    }

    .btn-primary {
        background-color: #48bdc5 !important;
        border-color: #48bdc5 !important;
    }
</style>