<!-- قسم المدونة -->
<section class="blog-section style-four section" dir="rtl">
    <div class="container">
        <div class="row">
            <!-- الشريط الجانبي -->
            <div class="col-lg-3 order-lg-1">
                <div class="right-side">
                    <div class="text-title text-right">
                        <h6>بحث</h6>
                    </div>
                    <div class="search-box">
                        <form method="post" action="index.html">
                            <div class="input-group">
                                <input class="form-control" type="search" name="search" placeholder="أدخل للبحث" required="" autocomplete="off">
                            </div>
                        </form>
                    </div>
                    <div class="categorise-menu text-right">
                        <div class="text-title">
                            <h6>الفئات</h6>
                        </div>
                        <ul class="categorise-list">
                            <li><a href="blog.html">الخريجين (20)</a></li>
                            <li><a href="blog.html">علم النفس (4)</a></li>
                            <li><a href="blog.html">التصوير (2)</a></li>
                            <li><a href="blog.html">الأشعة (9)</a></li>
                            <li><a href="blog.html">طب الأسنان (2)</a></li>
                        </ul>

                    </div>
                    <div class="tag-list text-right ">
                        <div class="text-title">
                            <h6>الكلمات المفتاحية</h6>
                        </div>
                        <a href="blog.html">طب الأسنان</a>
                        <a href="blog.html">الجذر</a>
                        <a href="blog.html">التنظيف</a>
                        <a href="blog.html">إعادة التأهيل</a>
                        <a href="blog.html">الجراحة</a>
                        <a href="blog.html">طبيب</a>
                        <a href="blog.html">طب الأطفال</a>
                    </div>
                </div>
            </div>

            <!-- المحتوى الرئيسي -->
            <div class="col-lg-9 order-lg-0 text-right">
                <div class="left-side ">
                    <!-- عنصر مدونة -->
                    <div class="item-holder">
                        <div class="image-box">
                            <figure>
                                <a href="blog-details.html"><img loading="lazy" class="img-fluid" src="images/blog/5.jpg" alt=""></a>
                            </figure>
                        </div>
                        <div class="content-text">
                            <a href="blog-details.html">
                                <h4>درس في الاستعداد للجراحة - من موسم الأعاصير</h4>
                            </a>
                            <span>بواسطة دونالد ترامب / 02 يناير 2020</span>
                            <p>
                                في هذا المقال، نسلط الضوء على أهمية التخطيط والجاهزية للجراحات في ظروف الطوارئ مثل مواسم الأعاصير.
                            </p>
                            <div class="link-btn">
                                <a href="blog-details.html" class="btn-style-one">اقرأ المزيد</a>
                            </div>
                        </div>
                    </div>
                    <!-- عنصر مدونة آخر -->
                    <div class="item-holder">
                        <div class="image-box">
                            <figure>
                                <a href="blog-details.html"><img loading="lazy" class="img-fluid" src="images/blog/6.jpg" alt=""></a>
                            </figure>
                        </div>
                        <div class="content-text">
                            <a href="blog-details.html">
                                <h4>دعم تعافي المرضى وتحسين تجربتهم في الرعاية الصحية</h4>
                            </a>
                            <span>بواسطة جيمس أندرسون / 08 يناير 2020</span>
                            <p>
                                تقديم تجربة محسنة للمرضى يعتمد على مزيج من الرعاية الشخصية والابتكارات الحديثة.
                            </p>
                            <div class="link-btn">
                                <a href="blog-details.html" class="btn-style-one">اقرأ المزيد</a>
                            </div>
                        </div>
                    </div>
                    <!-- زر الترقيم -->
                    <div class="styled-pagination">
                        <ul>
                            <li><a class="prev" href="blog.html"><span class="fas fa-angle-right" aria-hidden="true"></span></a></li>
                            <li><a href="blog.html" class="active">1</a></li>
                            <li><a href="blog.html">2</a></li>
                            <li><a href="blog.html">3</a></li>
                            <li><a class="next" href="blog.html"><span class="fas fa-angle-left" aria-hidden="true"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- نهاية قسم المدونة -->
