<!--Page Title-->
<section class="page-title text-center" style="background-image:url(images/background/3.jpg);">
    <div class="container">
        <div class="title-text">
            <h1>من نحن</h1>
            <ul class="title-menu clearfix">
                            <li>من نحن &nbsp;/</li>

                <li>
                    <a asp-controller="Home" asp-action="Index">الصفحة الرئيسية </a>
                </li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->

<!-- Our Story -->
<section class="story">
  <div class="container text-right">
    <div class="row">
      <div class="col-lg-6">
        <img loading="lazy" src="images/services/service-one.jpg" class="responsive" alt="story">
      </div>
      <div class="col-lg-6">
        <div class="story-content">
          <h2>من نحن</h2>
          <h5 class="tagline">مرحبًا بكم في موقعنا! نحن فريق متخصص يسعى لتقديم خدمات صحية متكاملة وسهلة الوصول لجميع الأفراد. نهدف إلى تسهيل عملية العناية بالصحة وجعلها جزءًا من روتين حياتك اليومي من خلال توفير مجموعة واسعة من الخدمات الطبية عبر الإنترنت</p>
            <h6>رؤيتنا</h6>
            <p>رؤيتنا هي تحسين جودة الحياة من خلال رعاية صحية مريحة وآمنة ومتاحة للجميع. نحن نؤمن بأن كل فرد يستحق الحصول على خدمات صحية تتماشى مع احتياجاته الخاصة، ونلتزم بتقديم خدمات تساهم في تعزيز صحة المجتمع</p>
            <h6>لماذا نحن؟</h6>
            <p>نحرص على تقديم خدماتنا بجودة عالية واهتمام بالتفاصيل، ونستخدم تقنيات حديثة لضمان دقة الفحوصات وسرعة الوصول إلى المعلومات الطبية. فريقنا من المتخصصين في المجالات الصحية يحرص على تقديم الدعم اللازم لضمان تجربة صحية متميزة تلبي تطلعاتك وتحقق راحتك</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Promo Video -->
<section class="promo-video">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="block text-center">
          <h6>About Our Hospital</h6>
          <h1>The World <br>
            Class Hospitality
          </h1>
          <a data-fancybox
            href="https://www.youtube.com/watch?v=_sI_Ps7JSEk&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0"><i class="fas fa-play"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>



