<div class="hero-slider">

    <!-- Slider Item -->
    <div class="slider-item slide1" style="background-image:url(images/slider/slider-1.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Slide Content Start -->
                    <div class="content style text-center">
                        <h2 class="text-white text-bold mb-2" data-animation-in="slideInLeft">مرحبا بك فى نبضات قلب</h2>
                        <p class="tag-text mb-4" data-animation-in="slideInRight">نسعى دائما لتوفير خدمة متميزة للاشخاص</p>
                        <a asp-controller="Home" asp-action="About" class="btn btn-main btn-white" data-animation-in="slideInLeft" data-duration-in="1.2">من نحن</a>
                    </div>
                    <!-- Slide Content End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Slider Item -->
    <div class="slider-item" style="background-image:url(images/slider/slider-bg-3.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Slide Content Start -->
                    <div class="content text-center style">
                        <h2 class="text-white text-bold mb-2" data-animation-in="slideInRight">طبيبك معك دائما اينما كنت</h2>
                        <p class="tag-text mb-4" data-animation-in="slideInLeft">يمكنك ان تستشير طبيبك الان </p>
                        <a href="about.html" class="btn btn-main btn-white" data-animation-in="slideInRight" data-duration-in="1.2">احجز طبيبك</a>
                    </div>
                    <!-- Slide Content End -->
                </div>
            </div>
        </div>
    </div>

</div>

<!--====  End of Page Slider  ====-->

<section class="cta">
    <div class="container">
        <div class="cta-block row no-gutters">
            <div class="col-lg-4 col-md-6 emmergency item text-right">
                <i class="fa fa-coins"></i>
                <h2>تكلفة مناسبة</h2>
                <p>خدمات رعاية صحية مختلفة تناسب احتياجاتك</p>
            </div>
            <div class="col-lg-4 col-md-6 top-doctor item text-right">
                <i class="fa fa-stethoscope"></i>
                <h2>خدمة 24 ساعة علي مدار الاسبوع</h2>
                <p>
لا داعي للانتظار في العيادات. تواصل مع افضل الاطباء وعلي مدار الساعة
                </p>
            </div>
            <div class="col-lg-4 col-md-12 working-time item text-right">
                <i class="fa fa-hourglass-o"></i>
                <h2>ساعات العمل</h2>
                <ul class="w-hours">
                    <li>السبت - لاثنين - <span>8:00 - 17:00</span></li>
                    <li>الثلاث - للخميس - <span>8:00 - 17:00</span></li>
                    <li>الجمعة <span>8:00 - 17:00</span></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!--about section-->
<section class="feature-section section bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="image-content">
                    <div class="section-title text-center">
                        <h3>تعريف <span>الخدمة</span></h3>
                        <p class="mb-0">منصة مبتكرة لخدمات الاستشارات الطبية عن بُعد! احصل على رعاية صحية عالية الجودة في أي مكان وزمان. نحن هنا لتسهيل التواصل بينك وبين الأطباء </p>
                    </div>
                    <div class="row text-right">
                        <div class="col-sm-6">
                            <div class="item">
                                <div class="icon-box">
                                    <figure>
                                        <a href="services.html"><img loading="lazy" src="images/resource/1.png" alt="features image"></a>
                                    </figure>
                                </div>
                                <h3 class="mb-2">تفاصيل الاستشارة</h3>
                                <p>
أدخل تفاصيل حالتك للحصول على استشارة الطبيب المناسب لك. يمكنك الاختيار بين الاستشارة النصية أو الصوتية أو الفيديو 
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="item">
                                <div class="icon-box">
                                    <figure>
                                        <a href="services.html">
                                            <img loading="lazy" src="images/resource/2.png" alt="features image">
                                        </a>
                                    </figure>
                                </div>
                                <h3 class="mb-2">المعلومات الشخصية
</h3>
                                <p>
لكي يقوم الطبيب بالتواصل معك، قُم بتعبئة المعلومات التالية: (الإسم الأول والأخير، ورقم الموبايل) 
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="item">
                                <div class="icon-box">
                                    <figure>
                                        <a href="services.html">
                                            <img loading="lazy" src="images/resource/3.png" alt="features image">
                                        </a>
                                    </figure>
                                </div>
                                <h3 class="mb-2">نوع الاشتراك</h3>
                                <p>
اختر الإشتراك الذي يناسبك (أسبوعي أو شهري). يمكنك الغاء الاشتراك في أي وقت
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="item">
                                <div class="icon-box">
                                    <figure>
                                        <a href="services.html">
                                            <img loading="lazy" src="images/resource/4.png" alt="features image">
                                        </a>
                                    </figure>
                                </div>
                                <h3 class="mb-2">خصوصية وأمان</h3>
                                <p>
2
خصوصية وأمان
نحرص على خصوصية معلوماتك الصحية ونستخدم أحدث التقنيات لضمان أمان بياناتك
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End about section-->
<!--Start about us area-->
<section class="service-tab-section section">
    <div class="outer-box clearfix">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- Nav tabs -->
                    <div class="tabs mb-5">
                        <ul class="nav nav-tabs justify-content-center" id="aboutTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link active" id="dormitory-tab" data-toggle="tab" href="#dormitory" role="tab" aria-controls="dormitory" aria-selected="true">فحص سكر الدم</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="orthopedic-tab" data-toggle="tab" href="#orthopedic" role="tab" aria-controls="orthopedic" aria-selected="false">فحص الدم</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="sonogram-tab" data-toggle="tab" href="#sonogram" role="tab" aria-controls="sonogram" aria-selected="false">وظائف الكبد</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="x-ray-tab" data-toggle="tab" href="#x-ray" role="tab" aria-controls="x-ray" aria-selected="false">الاشعة السينية</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="diagnostic-tab" data-toggle="tab" href="#diagnostic" role="tab" aria-controls="diagnostic" aria-selected="false">الفحص الدورى</a>
                            </li>
                        </ul>
                    </div>
                    <!--Start single tab content-->
                    <div class="tab-content "  id="aboutTab">
                        <div class="service-box tab-pane fade show active " id="dormitory">
                            <div class="row">
                                <div class="col-lg-6">
                                    <img loading="lazy" class="img-fluid" src="images/services/service-one.jpg" alt="service-image">
                                </div>
                                <div class="col-lg-6 ">
                                    <div class="contents ">
                                        <div class="section-title">
                                            <h3>فحص سكر الدم</h3>
                                        </div>
                                        <div class="text">
                                            <p>
نقدم لك خدمة فحص دم السكر بشكل دقيق وسريع لتمكينك من مراقبة صحتك بانتظام وتجنب مضاعفات مرض السكري
                                            </p>
                                            <p>
فحص دم السكر هو الخطوة الأولى نحو حياة صحية خالية من المشاكل الصحية المرتبطة بالسكري، حيث يساعدك في تحديد مستويات السكر في دمك بانتظام
                                            </p>
                                        </div>
                                        <a href="services.html" class="btn btn-style-one">جرب الان</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End single tab content-->
                        <!--Start single tab content-->
                        <div class="service-box tab-pane fade" id="orthopedic">
                            <div class="row">
                                <div class="col-lg-6">
                                    <img loading="lazy" class="img-fluid" src="images/services/service-two.jpg" alt="service-image">
                                </div>
                                <div class="col-lg-6">
                                    <div class="contents">
                                        <div class="section-title">
                                            <h3>فحص الدم</h3>
                                        </div>
                                        <div class="text">
                                            <p>
سيتم توفير خدمة فحص الدم قريبًا على موقعنا                                            </p>
                                           
                                        </div>
                                                                            </div>
                                </div>
                            </div>
                        </div>
                        <!--End single tab content-->
                        <!--Start single tab content-->
                        <div class="service-box tab-pane fade" id="sonogram">
                            <div class="row">
                                <div class="col-lg-6">
                                    <img loading="lazy" class="img-fluid" src="images/services/service-three.jpg" alt="service-image">
                                </div>
                                <div class="col-lg-6">
                                    <div class="contents">
                                        <div class="section-title">
                                            <h3>وظائف الكبد</h3>
                                        </div>
                                        <div class="text">
                                            <p>
سيتم توفير خدمة وظائف الكبد قريبًا على موقعنا                                            </p>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End single tab content-->
                        <!--Start single tab content-->
                        <div class="service-box tab-pane fade" id="x-ray">
                            <div class="row">
                                <div class="col-lg-6">
                                    <img loading="lazy" class="img-fluid" src="images/services/service-four.jpg" alt="service-image">
                                </div>
                                <div class="col-lg-6">
                                    <div class="contents">
                                        <div class="section-title">
                                            <h3>الاشعة السينية</h3>
                                        </div>
                                        <div class="text">
                                                                                       <p>
سيتم توفير خدمة الاشعة السينية قريبًا على موقعنا                                            </p>
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End single tab content-->
                        <!--Start single tab content-->
                        <div class="service-box tab-pane fade" id="diagnostic">
                            <div class="row">
                                <div class="col-lg-6">
                                    <img loading="lazy" class="img-fluid" src="images/services/service-five.jpg" alt="service-image">
                                </div>
                                <div class="col-lg-6">
                                    <div class="contents">
                                        <div class="section-title">
                                            <h3>الفحص الدورى</h3>
                                        </div>
                                        <div class="text">
                                                                                        <p>
سيتم توفير خدمة الفحص الدورى قريبًا على موقعنا                                            </p>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End single tab content-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End about us area-->
<!--Service Section-->
<section class="service-section bg-gray section" dir="ltr">
    <div class="container">
        <div class="section-title text-center">
            <h3>
                احجز الكشف
                <span>حسب التخصص</span>
            </h3>
            <p>
يمكنك الان حجز مع الطبيب المناسب لك علي حسب التخصص الذى تريده
            </p>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="items-container">
                    <div class="item">
                        <div class="inner-box">
                            <div class="img_holder">
                                <a href="service.html">
                                    <img loading="lazy" src="images/gallery/nfafsy.jpg" alt="images" class="img-fluid">
                                </a>
                            </div>
                            <div class="image-content text-center">
                                <span>خدمة مقابل سعر مناسب</span>
                                <a href="service.html">
                                    <h6>نفسي</h6>
                                </a>
                                <p>يمكنك الحجز مع افضل الاطباء النفسيين</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="inner-box">
                            <div class="img_holder">
                                <a href="service.html">
                                    <img loading="lazy" src="images/gallery/child.jpg" alt="images" class="img-fluid">
                                </a>
                            </div>
                            <div class="image-content text-center">
                                <span>خدمة مقابل سعر مناسب</span>
                                <a href="service.html">
                                    <h6>اطفال وحديثي الولادة</h6>
                                </a>
                                <p>يمكنك الحجز مع افضل اطباء الاطفال </p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="inner-box">
                            <div class="img_holder">
                                <a href="service.html">
                                    <img loading="lazy" src="images/gallery/tenth.jpg" alt="images" class="img-fluid">
                                </a>
                            </div>
                            <div class="image-content text-center">
                                <span>خدمة مقابل سعر مناسب</span>
                                <a href="service.html">
                                    <h6>اسنان</h6>
                                </a>
                                <p>يمكنك الحجز مع افضل اطباء الاسنان </p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="inner-box">
                            <div class="img_holder">
                                <a href="service.html">
                                    <img loading="lazy" src="images/gallery/skin.jpg" alt="images" class="img-fluid">
                                </a>
                            </div>
                            <div class="image-content text-center">
                                <span>خدمة مقابل سعر مناسب</span>
                                <a href="service.html">
                                    <h6>جلدية</h6>
                                </a>
                                <p>يمكنك الحجز مع افضل اطباءالجلديه </p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="inner-box">
                            <div class="img_holder">
                                <a href="service.html">
                                    <img loading="lazy" src="images/gallery/Neuroes.png" alt="images" class="img-fluid">
                                </a>
                            </div>
                            <div class="image-content text-center">
                                <span>خدمة مقابل سعر مناسب</span>
                                <a href="service.html">
                                    <h6>مخ واعصاب</h6>
                                </a>
                                <p>يمكنك الحجز مع افضل اطباء المخ والاعصاب </p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="inner-box">
                            <div class="img_holder">
                                <a href="service.html">
                                    <img loading="lazy" src="images/gallery/bones.jpg" alt="images" class="img-fluid">
                                </a>
                            </div>
                            <div class="image-content text-center">
                                <span>خدمة مقابل سعر مناسب</span>
                                <a href="service.html">
                                    <h6>عظام</h6>
                                </a>
                                <p>يمكنك الحجز مع افضل اطباء العظام </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Service Section-->
<!--team section-->
<section class="team-section section">
    <div class="container">
        <div class="section-title text-center">
            <h3>
تعرف علي الاطباء                <span>المختصيين</span>
            </h3>
            <p class="mb-0">
                يمكنك ان تشاهد الاطبال المختصيين لدينا 
                <br>ايضا يمكنك حجز مع الطبيب المختص 
            </p>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="team-member">
                    <img loading="lazy" src="images/team/doctor-2.jpg" alt="doctor" class="img-fluid">
                    <div class="contents text-center">
                        <h4>Dr. Robert Barrethion</h4>
                        <p>دكتور مختص في علم الاعصاب و لديه شهادات علي مستوى العالم</p>
                        <a href="appointment.html" class="btn btn-main">احجز معه</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="team-member">
                    <img loading="lazy" src="images/team/doctor-lab-3.jpg" alt="doctor" class="img-fluid">
                    <div class="contents text-center">
                        <h4>Dr. Marry Lou</h4>
                        <p>دكتوره مختص في مجال الاسنان و لديها شهادات علي مستوى العالم</p>
                        <a href="appointment.html" class="btn btn-main">احجز معه</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="team-member">
                    <img loading="lazy" src="images/team/event-2.jpg" alt="doctor" class="img-fluid">
                    <div class="contents text-center">
                        <h4>Dr. Sansa Stark</h4>
                        <p>دكتوره مختص في مجال العظام و لديها شهادات علي مستوى العالم</p>
                        <a href="appointment.html" class="btn btn-main">احجز معه</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End team section-->
<!--testimonial-section-->
<section class="testimonial-section" style="background: url(images/testimonials/1.jpg);" dir="ltr">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title text-center">
                    <h3>
                        اراء
                        <span>المستخدمين</span>
                    </h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="testimonial-carousel">
                    <!--Slide Item-->
                    <div class="slide-item">
                        <div class="inner-box text-center">
                            <div class="image-box">
                                <figure>
                                    <img loading="lazy" src="images/testimonials/person4.jpg" alt="">
                                </figure>
                            </div>
                            <h6>Moamen Mostafa</h6>
                            <p class="mb-0">
تواصلت مع طبيب عبر التطبيق وتفاجأت بسرعة الرد والاستجابة،وكان الطبيب متعاون جدا 
                            </p>
                        </div>
                    </div>
                    <!--Slide Item-->
                    <div class="slide-item">
                        <div class="inner-box text-center">
                            <div class="image-box">
                                <figure>
                                    <img loading="lazy" src="images/testimonials/person3.jpeg" alt="">
                                </figure>
                            </div>
                            <h6>Mohamed Hazem</h6>
                            <p class="mb-0">
تطبيق رائع ساعدني اتواصل مع دكتور خصوصًا لما تكون عندي مشكلة صحية ضرورية
                            </p>
                        </div>
                    </div>
                    <!--Slide Item-->
                    <div class="slide-item">
                        <div class="inner-box text-center">
                            <div class="image-box">
                                <figure>
                                    <img loading="lazy" src="images/testimonials/person2.jpg" alt="">
                                </figure>
                            </div>
                            <h6>Sara Ahmed</h6>
                            <p class="mb-0">
شكراً على الخدمات الرائعة! موقعكم جعل تجربة العلاج أسهل مع توصيات الطبيب والإجابات الدقيقة وعالية الجودة
                            </p>
                        </div>
                    </div>
                    <!--Slide Item-->
                    <div class="slide-item">
                        <div class="inner-box text-center">
                            <div class="image-box">
                                <figure>
                                    <img loading="lazy" src="images/testimonials/person1.jpg" alt="">
                                </figure>
                            </div>
                            <h6>Alaa Mohamed</h6>
                            <p class="mb-0">
كنت مترددة من مشاركة بياناتي الشخصية، ولكن بعد تجربة الخدمة والتواصل مع الطبيب شعرت بالأمان والخصوصية
                            </p>
                        </div>
                    </div>
                    <!--Slide Item-->
                    <div class="slide-item">
                        <div class="inner-box text-center">
                            <div class="image-box">
                                <figure>
                                    <img loading="lazy" src="images/testimonials/2.png" alt="">
                                </figure>
                            </div>
                            <h6>David Warner</h6>
                            <p class="mb-0">
شكراً على الخدمات الرائعة! موقعكم جعل تجربة العلاج أسهل مع توصيات الطبيب والإجابات الدقيقة وعالية الجودة.
                            </p>
                        </div>
                    </div>
                   
                    <!--Slide Item-->
                    <div class="slide-item">
                        <div class="inner-box text-center">
                            <div class="image-box">
                                <figure>
                                    <img loading="lazy" src="images/testimonials/3.png" alt="">
                                </figure>
                            </div>
                            <h6>Amy Adams</h6>
                            <p class="mb-0">
سهل علي المتابعات الدورية مع الطبيب بعد إجراء التحاليل أو أخذ الأدوية الموصوفة
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End testimonial-section-->
<!-- Contact Section -->
<section class="appoinment-section section text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="accordion-section">
                    <div class="section-title">
                        <h3>الأسئلة الأكثر شيوعاً</h3>
                    </div>
                    <div class="accordion-holder">
                        <div class="accordion" id="accordionGroup" role="tablist" aria-multiselectable="true">
                            <div class="card">
                                <div class="card-header" role="tab" id="headingOne">
                                    <h4 class="card-title">
                                        <a role="button" data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            ما هي منصة للرعاية الصحية؟
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordionGroup">
                                    <div class="card-body">
 منصة الطبي، المنصة الأولى في الوطن العربي التي تقدم خدمة الاستشارات الطبية عن بعد وتتيح للمرضى التواصل مع الأطباء المعتمدين مباشرة من خلال مكالمة هاتفية أو محادثة نصية. وهي المنصة الطبية العربية الأكبر التي تُعنى بتقديم المحتوى الطبي الموثوق.

                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" role="tab" id="headingTwo">
                                    <h4 class="card-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapseTwo"
                                           aria-expanded="false" aria-controls="collapseTwo">
                                            كيف يمكن التسجيل في منصة للرعاية الصحية؟
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordionGroup">
                                    <div class="card-body">
لإنشاء حساب في تطبيق الطبي: قُم بتسجيل رقم الهاتف، سوف يصلك رمز للتحقق من الرقم، اضغط على (متابعة) للاستمرار. قم باختيار الاشتراك المناسب للبدء بالحصول على الاستشارات الطبية. وبعد تحديد نوع الاشتراك، اضغط على (متابعة) للاستمرار. أدخل رقم البطاقة للاستمرار في عملية الدفع، والموافقة على نموذج الشروط والأحكام للمتابعة
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" role="tab" id="headingThree">
                                    <h4 class="card-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapseThree"
                                           aria-expanded="false" aria-controls="collapseThree">
                                            كيف يمكنني الحصول على استشارة طبية؟
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordionGroup">
                                    <div class="card-body">
بإمكانك التواصل مع الطبيب من خلال مكالمات صوتية أو محادثات نصية من خلال التطبيق أو الموقع الإلكتروني لمنصة الطبي
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="contact-area pl-0 pl-lg-5">
                    <div class="section-title text-right">
                        <h3>
                            احجز
                            <span>موعدك الان</span>
                        </h3>
                    </div>
                    <form name="contact_form" class="default-form contact-form" action="!#" method="post">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input class="form-control text-center" type="text" name="Name" placeholder="الاسم" required="">
                                </div>
                                <div class="form-group">
                                    <input class="form-control text-center" type="email" name="Email" placeholder="البريد الالكتروني" required="">
                                </div>
                                <div class="form-group">
                                    <select class="form-control text-center" name="subject">
                                        <option>مخ واعصاب</option>
                                        <option>عظام</option>
                                        <option>جلدية</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6" >
                                <div class="form-group">
                                    <input class="form-control text-center" type="text" name="Phone" placeholder="الهاتف" required="">
                                </div>
                                <div class="form-group">
                                    <input class="form-control text-center" type="text" name="Date" placeholder="التاريخ" required="" id="datepicker" autocomplete="off">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                </div>
                                <div class="form-group">
                                    <select class="form-control text-center" name="subject">
                                        <option>Mohamed Hazem</option>
                                        <option>Robert Barrethion</option>
                                        <option>Marry Lou</option>
                                        <option>Sansa Stark</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <textarea class="form-control" name="form_message" placeholder="اكتب رسالتك هنا..." required=""></textarea>
                                </div>
                                <div class="form-group text-center">
                                    <button type="submit" class="btn-style-one">احجز الان</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Contact Section -->